.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 7vh;
  min-width: 100vw;
  max-width: 100vw;
  border-bottom: 2px solid hsl(200, 30%, 50%);
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, hsl(200, 60%, 80%) , hsl(200, 60%, 85%) 40%);
}

.navbar__links,
.navbar__author,
.navbar__logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 0.5rem;
}


.navbar__logo:link,
.navbar__logo:visited {
  color: hsl(200, 30%, 50%);
  text-decoration: none;
  transition: .2s ease-out;
}

.navbar__logo:active,
.navbar__logo:hover {
  transform: translate(-1px, -3px) scale(1.02);
}

.navbar__author {
  flex: 1;
  justify-content: center;
  font-size: 0.6rem;
}

.navbar__links {
  padding-right: 1.2rem;
}
.navbar__links > a {
  text-decoration: none;
  color: hsl(200, 35%, 60%);
}

.navbar__links .active {
  text-decoration: none;
  color: hsl(200, 30%, 40%);
}
.navbar__links > a:not(:last-of-type) {
  margin-right: 0.7rem;
}

.menu-icon-container {
  width: 30px;
  height: 25px;
  right: 38px;
  top: 6px;
  position: relative;
}

.menu-icon {
  display: block;
  position: relative;
  top: 40%;
  width: 100%;
  height: 2px;
  z-index: 100;
  background-color: black;
}

.menu-icon::before,
.menu-icon::after {
  background-color: black;
  content: "";
  display: table;
  position: absolute;
  width: 100%;
  height: 2px;
}
.menu-icon::before {
  top: -8px;
}

.menu-icon::after {
  bottom: -8px;
}

.close-icon {
  position: relative;
  width: 40px;
  height: 40px;
}
.close-icon::before,
.close-icon::after {
  content: "";
  display: table;
  width: 90%;
  height: 1px;
}

.close-icon::before {
  transform: rotate(45deg);
}

.close-icon::after {
  transform: rotate(-45deg);
}


.mobile-menu.open {
  transform: translateX(0);
  display: block;
}

.mobile-menu {
  transform: translateX(-100%);
  background: white;
  width: 50%;
  top: 0;
  z-index: 100;
  position: absolute;
  height: 100vh;
}
@media and screen (max-width: 768px) {
  .navbar {
    height: 8vh;
    font-size: 0.9rem;
  }

  .navbar__links,
  .navbar__author,
  .navbar__logo {
    padding: 0 1.2rem;
  }

  .navbar__author {
    font-size: 0.9rem;
  }
  .navbar__links {
    padding-right: 1.2rem;
  }
  .navbar__links > a:not(:last-of-type) {
    margin-right: 0.7rem;
  }
}

@media screen and (max-width: 320px) {
  .navbar__author {
    justify-content: flex-start;
  }

  .menu-icon {
    display: block;
  }
}
