ol {
  padding-left: 30px;
}

/* Board Styles */

.square {
  background: hsl(180, 90%, 90%);
  border: 2px solid hsl(180, 50%, 70%);
  font-size: 2rem;
  font-weight: 200;
  line-height: 0.5;
  padding: 0.4em;
  color: hsl(220, 60%, 20%);
  flex: 1;
  align-self: stretch;
  height: 5em;
}

.square:focus {
  outline: none;
  background-color: hsl(180, 80%, 80%);
}
/* End Board Styles */
/* Game Styles  */

.tic-tac-toe-game {
  position: relative;
  top: 3.3rem;
}
.game {
  display: flex;
  flex-direction: row;
  padding: 0 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
  justify-content: center;
  align-items: stretch;
}


.game-board {
  margin: 1em;
  flex: 0 0 70%;
  height: 100%;
}

.board-row {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.game-info {
  margin: 1em;
  flex: 0 0 30%;
}

.game-title {
  font-size: 1.8rem;
  border-bottom: 1px solid hsl(240, 30%, 30%);
  flex: 0 0 200px;
  font-weight: 400;
  text-align: center;
  width: 50vw;
  margin: 1em auto 0.5em;
}
/* End Game Styles */

/* History Styles */
.status {
  font-size: 1.2rem;
  font-weight: 200;
  color: hsl(220, 20%, 30%);
  margin-bottom: 10px;
  text-align: center;
}
.history-info {
  max-width: 300px;
  min-width: 150px;
  border-left: 2px solid hsl(120, 70%, 60%);
  outline: none;
}

.history-btn {
  padding: 0.5em 0.7em;
  background-color: hsl(180, 90%, 80%);
  color: hsl(200, 80%, 10%);
  border: 1px solid hsl(200, 70%, 40%);
  font-size: 1rem;
  font-weight: 300;
  margin: 0.2em auto;
  width: 90%;
}

.history-btn:hover {
  color: hsl(60, 50%, 30%);
  background-color: hsl(300, 60%, 80%);
}

@media (max-width: 800px) {
  .game {
    flex-direction: column;
  }
  .game-board {
    max-width: 600px;
    height: 600px;
    width: 94%;
  }

  .game-info {
    width: 94%;
  }

  .square {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 400px) {
  .game {
    flex-direction: column;
    margin: 0.5em 1em;
    flex: 0 0 auto;
  }

  .game-board {
    width: 94%;
  }
  .board-row {
    width: 50%;
  }

  .game-info {
    margin: 0 1em;
    padding: 0 1em;
    width: 94%;
  }
  .history-btn {
    font-size: 0.7em;
    padding: 0.2em 0.4em;
    margin: 0;
  }
}
/* End History styles*/
