.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
  position: relative;
  top: 1rem;
}

@media screen and (max-width: 425px) {
  .footer {
    width: 370px;
  }
}
