.app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: hsl(200, 25%, 30%);
}

.pt-1 { padding-top: 2vh; }
.pt-2 { padding-top: 4vh; }
.pt-3 { padding: 6vh; }
.pt-4 { padding-top: 8vh; }
